<?xml version="1.0"?>

<model>
  <name>Team 23 Ackermann MS4 Vehicle</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Team 23</name>
    <email>team23@student.guc.edu.eg</email>
  </author>

  <description>
    Compact Ackermann vehicle for Team 23 Milestone 4 simulation tracks.
  </description>
</model>
