# ROS 2
build/
install/
log/

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/

# LaTeX
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.toc
paper/*.synctex.gz
paper/*.fdb_latexmk
paper/*.fls

# OS / editor
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.code-workspace

# Media
*.mp4
*.avi
*.mov

# PDF
*.pdf

# Archives
*.rar
*.zip

# Secrets
.env
*.key
