<?xml version="1.0"?>

<model>
  <name>Team 23 Prius Vehicle</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ian Chen</name>
    <email>iche033@osrfoundation.org</email>
  </author>

  <description>
    Team 23 controllable Prius-style Gazebo vehicle
  </description>
</model>
